// Body
// $body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// $ecologreen: #2c786c;
body{
    // background-image: url('images/background/cool-background.png');
    // background-image: url('images/background/abstract-art-artificial-artistic-131634.jpg');
    // background-image: url('images/background/blank-close-up-crumpled-crumpled-paper-479453.jpg');
    // background-image: url('images/background/seamless-1315299_960_720.webp');
    // background-image: url('images/background/marble-2398946_960_720.webp');
    // background-image: url('images/background/feather-1689331_960_720.webp');
    background-image: url('images/background/botanical-cactus-close-up-decor-305821.jpg');
    background-image: url('images/background/a37c453264cb592006cd53f62a5033f9.jpg');
}
