.main-banner-title{

}

.main-banner-para{

}

// Main
.ecolo_background{
    background-image: url('senecolo3/img/background/landing page – 2.png');
    background-size: cover;
    background-repeat: stretch;
    height: 3800px;
}

// Navigation
.ecolo_nav{
    font-size: 20px;
}

.nav_form{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid white;
    margin-left: 10px;
}

// Steps
.ecolo_steps{
    padding: 300px 150px 150px 150px;
}

.step-image{
    margin: auto;
    width: 50px;
    padding-top: 10px;
}

// Offer

.ecolo_new_offer{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.join_us{
    margin-top: 400px;
    margin-left: 70px;
}

